.contents {
  width: 100%;
  display: block;
  margin-bottom: 60px;

  .contents_image {
    img {
      display: block;
      width: 100%;
      margin: 0 auto 30px;
      border-radius: 8px;
      transition: all 0.5s;
    }
    img:hover {
      opacity: 0.6;
    }
  }
}

.contents_image,
.contents_description {
  flex: 1;

  h3 {
    font-size: 33px;
    line-height: 1.14;
    padding: 0;
    margin: 0;
    margin-bottom: 9px;
    // background-color: aqua;

    a {
      text-decoration: none;
      color: var(--fontColor);
    }

    a:hover {
      text-decoration: underline;
    }
  }
  ul.contents_stack {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    // background-color: aqua;
    li {
      font-size: 14px;
      margin-right: 10px;
      color: var(--subFontColor);
    }
  }
  p {
    font-size: 18px;
    line-height: 1.27;
    color: var(--subFontColor);
    a {
      text-decoration: underline;
      color: var(--accentColor);
    }
  }
  a.contents-detail {
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    color: var(--accentColor);
    border: 2px solid var(--accentColor);
    padding: 1.2em 3em;
    border-radius: 8px;
    letter-spacing: 0em;
    line-height: 1.1em;
    margin-top: 0;
    transition: background-color 0.5s;
  }

  a.contents-detail:hover {
    color: #fff;
    background-color: var(--accentColor);
    transition: background-color 0.8s;
  }
}

@media screen and (min-width: 480px) {
  .contents {
    width: 100%;
    display: block;

    .contents_image {
      img {
        width: 100%;
        margin: 0 auto 36px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;

    .contents_image {
      img {
        width: 250px;
        margin: 0;
      }
    }

    .contents_description {
      h3 {
        font-size: 30px;
      }

      p {
        font-size: 16px;
      }
    }

    a.contents-detail {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;

    .contents_image {
      img {
        width: 280px;
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .contents {
    .contents_image {
      img {
        width: 320px;
      }
    }
  }
}
