h2{
    font-size: 40px;
    text-align: center;
}
.about{
    margin-bottom: 10%;
}

.about-inner{
    width: 80%;
    margin: 5% auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    /* background-color: beige; */
}
.profile-image img{
    width: 250px;
    border-radius: 10%;
}

.about-description{
    width: 60%;
    /* background-color: aquamarine; */
    /* padding: 5% 0 5% 5%; */
    line-height: 200%;
}

a.resume-btn{
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    color: blue;
    border: 1px solid blue;
    padding: 1.2em 3em;
    border-radius: 5em;
    letter-spacing: 0em;
    line-height: 1.1em;
    margin-top: 20px;
}

.medium-inner{
    margin: 5% 0;
}
.card {
    margin: 30px auto;
    width: 350px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
}

.card > a > img.card-img {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}
.blog-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 800;
    color: #333;
}

.card-content > p.blog-date{
    display: inline;
    font-size: 16px;
    /* text-align: right; */
    float: right;
    /* margin: 0 0 0 auto; */
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }