.contents{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    padding: 0;
}

.contents_image img{
    display: block;
    border-radius: 5%;
    width: 100%;    
}

.contents_image{
    padding: 1.5% 0 1.5% 3% ;
}
.contents_description{
    padding: 5%;
}
.contents_image,
.contents_description{
    flex: 1;
}

.contents_description h3{
    font-size: 50px;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}

.contents_description p{
    font-size: 20px;
    line-height: 1.5em;
}

.contents_description a{
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    color: var(--baseColor);
    border: 2px solid var(--baseColor);
    padding: 1.2em 3em;
    border-radius: 5em;
    letter-spacing: 0em;
    line-height: 1.1em;
    margin-top: 20px;
}
