// .contents {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin-bottom: 5%;
//   padding: 0;
// }

// .contents_image img {
//   display: block;
//   border-radius: 8px;
//   width: 320px;
// }

.contents {
  width: 100%;
  display: block;
  margin-bottom: 5%;

  .contents_image {
    img {
      width: 100%;
      margin: 0 auto;
      border-radius: 8px;
    }
  }
}

.contents_image,
.contents_description {
  flex: 1;

  h3 {
    font-size: 33px;
    line-height: 1.14;
    padding: 0;
    margin: 0;
  }

  p {
    font-size: 18px;
    line-height: 1.27;
    color: var(--subFontColor);
  }
  a.contents-detail {
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    color: var(--accentColor);
    border: 2px solid var(--accentColor);
    padding: 1.2em 3em;
    border-radius: 8px;
    letter-spacing: 0em;
    line-height: 1.1em;
    margin-top: 1.2rem;
    transition: background-color 0.5s;
  }

  a.contents-detail:hover {
    color: #fff;
    background-color: var(--accentColor);
    transition: background-color 0.8s;
  }
}

@media screen and (min-width: 480px) {
  .contents {
    width: 100%;
    display: block;
    margin-bottom: 5%;

    .contents_image {
      img {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    padding: 0;

    .contents_image {
      img {
        display: block;
        // border-radius: 8px;
        width: 320px;
      }
    }
  }

  .contents_image,
  .contents_description {
    flex: 1;
  }
}

@media screen and (min-width: 1024px) {
  .contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    padding: 0;
  }
}

@media screen and (min-width: 1440px) {
  .contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    padding: 0;
  }
}
// @media screen and (max-width: 1179px) {
//   .contents_description h3 {
//     font-size: 3rem;
//   }
// }

// @media screen and (max-width: 768px) {
//   .contents_image {
//     padding-left: 5%;
//   }
//   .contents_description {
//     padding-right: 5%;
//   }
//   .contents_description h3 {
//     font-size: 2rem;
//     line-height: 1.4em;
//   }

//   .contents_description p {
//     font-size: 1rem;
//     line-height: 1.4em;
//   }

//   .contents_description a {
//     font-size: 0.8rem;
//   }
// }

// @media screen and (max-width: 375px) {
//   .contents {
//     width: 80%;
//     margin: 0 auto 6%;
//     display: block;
//     /* margin-bottom: 5%; */
//     padding: 0;
//   }

//   .contents_description h3 {
//     font-size: 1.3em;
//     line-height: 1.3em;
//   }

//   .contents_description p {
//     font-size: 0.8rem;
//     line-height: 1.3em;
//   }

//   .contents_description a {
//     font-size: 0.6rem;
//     margin-top: 0.6rem;
//   }
// }
