.contents_wrapper{
    margin: 0;
    padding: 0;
}
.contents{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    padding: 0;
}

.contents_image img{
    display: block;
    border-radius: 5%;
    width: 100%;    
}

.contents_image{
    padding: 1.5% 0 1.5% 8% ;
}
.contents_description{
    padding: 5% 8% 5% 5%;
}
.contents_image,
.contents_description{
    flex: 1;
}

.contents_description h3{
    font-size: 3rem;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}

.contents_description p{
    font-size: 1.2rem;
    line-height: 1.5em;
}

.contents_description a{
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    color: var(--baseColor);
    border: 2px solid var(--baseColor);
    padding: 1.2em 3em;
    border-radius: 5em;
    letter-spacing: 0em;
    line-height: 1.1em;
    margin-top: 1.2rem;
}

@media screen and (max-width: 1179px) {
    .contents_description h3{
        font-size: 3rem;
    }
}

@media screen and (max-width:768px){
    .contents_image{
        padding-left: 5% ;
    }
    .contents_description{
        padding-right: 5%;
    }
    .contents_description h3{
        font-size: 2rem;
        line-height: 1.4em;
    }
    
    .contents_description p{
        font-size: 1rem;
        line-height: 1.4em;
    }
    
    .contents_description a{
        font-size: 0.8rem;
    }

}

@media screen and (max-width:375px){
    .contents{
        width: 80%;
        margin: 0 auto 6%;
        display: block;
        /* margin-bottom: 5%; */
        padding: 0;
    }
    
    .contents_description h3{
        font-size: 1.3em;
        line-height: 1.3em;
    }
    
    .contents_description p{
        font-size: 0.8rem;
        line-height: 1.3em;
    }
    
    .contents_description a{
        font-size: 0.6rem;
        margin-top: 0.6rem;
    }
 
}