.contents_wrapper {
  padding: 600px 0 100px;
  margin: 0 3%;
  border-radius: 8px;
  background-color: var(--lightBlueColor);
}

.contents-inner {
  width: 320px;
  margin: auto;
}

@media screen and (min-width: 480px) {
  .contents_wrapper {
    padding: 470px 0 100px;
  }

  .contents-inner {
    width: 400px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contents_wrapper {
    padding: 120px 0 100px;
    margin: 0 3%;
    border-radius: 8px;
    background-color: var(--lightBlueColor);
  }

  .contents-inner {
    width: 70%;
    margin-left: 20%;
  }
}

@media screen and (min-width: 1024px) {
  .contents_wrapper {
    padding: 150px 0 100px;
    margin: 0 5%;
    border-radius: 8px;
    background-color: var(--lightBlueColor);
  }

  .contents-inner {
    width: 63%;
    margin-left: 22%;
  }
}

@media screen and (min-width: 1440px) {
}
