.contents_wrapper {
  padding: 150px 0 100px;
  margin: 0 3%;
  border-radius: 8px;
  background-color: var(--lightBlueColor);
  /* background-color: #585858; */
}

.contents-inner {
  width: 56%;
  margin-left: 24%;
}
