header {
  width: 56%;
  height: 450px;
  margin-left: 23%;
  position: relative;
  /* background-color: aqua; */
}

header.about-header {
  width: 56%;
  height: 450px;
  margin-left: 23%;
  position: relative;
  /* background-color: aqua; */
  img#about_photo {
    display: block;
    height: 500px;
    position: absolute;
    top: 5%;
    left: 15%;
    border-radius: 8px;
  }
}

header.work-header {
  width: 10%;
  height: 450px;
  margin-left: 20%;
  position: relative;
  img#work-photo {
    display: block;
    height: 450px;
    position: absolute;
    top: 5%;
    left: 15%;
    border-radius: 8px;
  }
}

.main-img {
  margin: 0;
  padding: 0;
  img {
    display: block;
    height: 500px;
    position: absolute;
    top: 5%;
    right: 0;
    border-radius: 8px;
  }
}

.introduction {
  width: 500px;
  position: absolute;
  top: 38%;
  left: 4%;
}

header .introduction > .introduction-inner h1 {
  font-size: 3rem;
  font-family: var(--mainFont);
  font-weight: 400;
  line-height: 1.14;
  color: var(--subFontColor);
}

header .introduction > .introduction-inner h1 span#name {
  font-weight: 700;
  color: var(--fontColor);
}

header .introduction > .introduction-inner h1 span#job-title {
  /* font-weight: 700; */
  color: var(--accentColor);
}

@media screen and (min-width: 480px) {
  .main-img {
    img {
      height: 350px;
      position: absolute;
      top: 5%;
      right: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .main-img {
    img {
      height: 400px;
      position: absolute;
      top: 5%;
      right: 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  .main-img {
    img {
      height: 450px;
      position: absolute;
      top: 5%;
      right: 0;
    }
  }
}
