header{
    margin: 0 auto;
    text-align: center;
    padding-top: 280px;
}
header h1{
    margin: 0;
    font-size: 3rem;
    color: #fff;
    /* color:#060606; */
}

header p{
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}

header a{
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
    font-weight: 700;
    background-color: #000;
    border: #000;
    color: #fff;
    padding: 1.25rem 2.5rem;
    text-decoration: none;
    border-radius: .25rem;
    display: inline-block;

}