header {
  margin: 0 auto;
  width: 100%;
  height: 650px;
  /* margin-bottom: 100px; */
  position: relative;
  /* background-color: var(--lightBlueColor); */
}

.main-img {
  margin: 0;
  padding: 0;
}

.main-img img {
  display: block;
  height: 500px;
  position: absolute;
  top: 5%;
  right: 0;
  border-radius: 8px;
}

.introduction {
  width: 500px;
  position: absolute;
  top: 20%;
  left: 5%;
}

header .introduction > .introduction-inner h1 {
  font-size: 3rem;
  font-family: var(--mainFont);
  font-weight: 400;
  line-height: 1.14;
  color: var(--subFontColor);
}

header .introduction > .introduction-inner h1 span {
  font-weight: 700;
  color: var(--fontColor);
}

/* header .introduction > .introduction-inner a {
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  color: var(--subFontColor);
  border: 1px solid var(--subFontColor);
  padding: 1.2em 3em;
  border-radius: 8px;
  letter-spacing: 0em;
  line-height: 1.1em;
  margin-top: 0.5em;
} */

@media screen and (max-width: 1179px) {
  header {
    height: 700px;
  }

  .introduction {
    top: 18%;
  }
  header .introduction > .introduction-inner p {
    font-size: 2.2rem;
    margin: 13% 0 5% 0;
  }
  header .introduction > .introduction-inner span {
    font-size: 0.8rem;
  }

  header .introduction > .introduction-inner a {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 400px;
  }

  .main-img img {
    right: 3%;
  }
  .introduction {
    top: 23%;
    left: 3%;
  }
  header .introduction > .introduction-inner p {
    font-size: 1.4rem;
    margin: 13% 0 5% 0;
  }

  header .introduction > .introduction-inner a {
    font-size: 0.5rem;
    padding: 1em 2em;
    border-radius: 5em;
    letter-spacing: 0em;
    line-height: 1.5em;
    margin-top: 7%;
  }
}

@media screen and (max-width: 375px) {
  .main-img img {
    display: block;
    width: 75%;
    right: 7%;
  }

  header {
    height: 380px;
  }

  .introduction {
    width: 70%;
    left: 7%;
    top: 30%;
  }
  header .introduction > .introduction-inner p {
    /* font-size: 1.rem; */
    margin: 13% 0 5% 0;
  }

  header .introduction > .introduction-inner span {
    font-size: 0.5rem;
  }

  header .introduction > .introduction-inner a {
    font-size: 0.3rem;
    padding: 0.5em 1em;
  }
}
