header {
  margin: 0 auto;
  width: 100%;
  height: 850px;
  /* margin-bottom: 100px; */
  position: relative;
}

.main-img {
  margin: 0;
  padding: 0;
}

.main-img img {
  display: block;
  width: 65%;
  position: absolute;
  top: 0;
  right: 8%;
}

.introduction {
  position: absolute;
  top: 13%;
  left: 8%;
  width: 43%;
  background-color: #000;
}

header .introduction > .introduction-inner {
  width: 75%;
  margin: 10% auto;
}

header .introduction > .introduction-inner p {
  font-size: 3rem;
  font-family: "Helvetica";
  font-weight: 700;
  color: #fff;
  margin: 0 0 5% 0;
  padding: 0;
}

header .introduction > .introduction-inner span {
  display: block;
  padding: 0;
  color: #fff;
}

header .introduction > .introduction-inner a {
  font-size: 1.4rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 1.2em 3em;
  border-radius: 5em;
  letter-spacing: 0em;
  line-height: 1.1em;
  margin-top: 7%;
}

@media screen and (max-width: 1179px) {
  header {
    height: 700px;
  }

  .introduction {
    top: 18%;
  }
  header .introduction > .introduction-inner p {
    font-size: 2.2rem;
    margin: 13% 0 5% 0;
  }
  header .introduction > .introduction-inner span {
    font-size: 0.8rem;
  }

  header .introduction > .introduction-inner a {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 400px;
  }

  .main-img img {
    right: 3%;
  }
  .introduction {
    top: 23%;
    left: 3%;
  }
  header .introduction > .introduction-inner p {
    font-size: 1.4rem;
    margin: 13% 0 5% 0;
  }

  header .introduction > .introduction-inner a {
    font-size: 0.5rem;
    padding: 1em 2em;
    border-radius: 5em;
    letter-spacing: 0em;
    line-height: 1.5em;
    margin-top: 7%;
  }
}

@media screen and (max-width: 375px) {
  .main-img img {
    display: block;
    width: 75%;
    right: 7%;
  }

  header {
    height: 380px;
  }

  .introduction {
    width: 70%;
    left: 7%;
    top: 30%;
  }
  header .introduction > .introduction-inner p {
    /* font-size: 1.rem; */
    margin: 13% 0 5% 0;
  }

  header .introduction > .introduction-inner span {
    font-size: 0.5rem;
  }

  header .introduction > .introduction-inner a {
    font-size: 0.3rem;
    padding: 0.5em 1em;
  }
}
