header {
  max-width: 100%;
  margin-left: 0%;
  height: auto;
  position: relative;
}

header.about-header,
header.work-header {
  max-width: 100%;
  height: auto;
  padding-top: 60px;
  // position: relative;
  img#about_photo,
  img#work-photo,
  img#work-photo {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    // margin-top: 81px;
    // position: absolute;
    top: 81px;
    // margin-bottom: 300px;
  }
}

.main-img {
  img#profile-photo {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    position: static;
    border-radius: 8px;
  }

  img#speech-bubble {
    width: 258px;
    height: 152px;
    position: absolute;
    top: 8%;
    right: -9%;
    z-index: 3;
    transform: scale(0.65);
  }
}

.introduction {
  width: 320px;
  margin: 0 auto;
  position: static;

  .introduction-inner {
    h1 {
      font-size: 44px;
      font-family: var(--mainFont);
      font-weight: 400;
      line-height: 1.14;
      color: var(--subFontColor);
      padding: 0;
      margin: 15px 0;

      span#name {
        font-weight: 700;
        color: var(--fontColor);
      }

      span#job-title {
        color: var(--accentColor);
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .main-img {
    img#profile-photo {
      margin: 0 auto;
      position: static;
      z-index: 1;
    }

    img#speech-bubble {
      transform: scale(0.85);
      top: 12%;
      right: 2%;
      z-index: 3;
    }
  }

  .introduction {
    width: 380px;
    position: static;
  }

  header.about-header,
  header.work-header {
    max-width: 100%;
    height: 300px;
    margin: 0 0 60px;
    padding-top: 60px;
    img#about_photo,
    img#work-photo,
    img#work-photo {
      display: block;
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      // position: absolute;
      // margin-bottom: 300px;
    }
  }

  header.work-header {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    width: 70%;
    height: 450px;
    margin-left: 20%;
    position: relative;
  }
  .main-img {
    img#profile-photo {
      display: block;
      height: 450px;
      margin: 0;
      position: absolute;
      top: 5%;
      right: 0;
      z-index: 1;
    }
    img#speech-bubble {
      position: absolute;
      top: 5%;
      right: -8%;
      z-index: 3;
      transform: scale(0.85);
    }
  }

  .introduction {
    width: 380px;
    padding: 0px;
    background-color: transparent;
    position: absolute;
    top: 38%;
    left: 4%;
    z-index: 2;
    .introduction-inner {
      h1 {
        font-size: 2.5rem;
        font-family: var(--mainFont);
        font-weight: 400;
        line-height: 1.14;
        color: var(--subFontColor);

        span#name {
          font-weight: 700;
          color: var(--fontColor);
        }

        span#job-title {
          color: var(--accentColor);
        }
      }
    }
  }

  header.about-header,
  header.work-header {
    width: 70%;
    height: 450px;
    margin-left: 20%;
    margin-bottom: 0;
    padding-top: 0;
    position: relative;
    img#about_photo,
    img#work-photo,
    img#work-photo {
      position: absolute;
      height: 350px;
      top: 28%;
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    width: 700px;
    height: 450px;
    margin-left: 26%;
    position: relative;
  }
  .main-img {
    img#profile-photo {
      display: block;
      height: 450px;
      margin: 0;
      position: absolute;
      top: 5%;
      right: 0;
      z-index: 1;
    }
    img#speech-bubble {
      position: absolute;
      top: 5%;
      right: -8%;
      z-index: 3;
      transform: scale(0.9);
    }
  }

  .introduction {
    width: 450px;
    padding: 0px;
    background-color: transparent;
    position: absolute;
    top: 38%;
    left: 4%;
    z-index: 2;
    .introduction-inner {
      h1 {
        font-size: 3rem;
      }
    }
  }

  header.about-header,
  header.work-header {
    width: 700px;
    height: 450px;
    margin-left: 26%;
    margin-bottom: 0;
    padding-top: 0;
    position: relative;
    img#about_photo,
    img#work-photo,
    img#work-photo {
      position: absolute;
      height: 400px;
      top: 18%;
      left: 5%;
    }
  }
}

@media screen and (min-width: 1440px) {
  header {
    width: 800px;
    height: 500px;
    margin-left: 26%;
  }

  .main-img {
    img {
      height: 800px;
      margin: 0;
      position: absolute;
      top: 5%;
      right: 0;
    }
  }
  header.about-header,
  header.work-header {
    width: 800px;
    height: 500px;
    margin-left: 26%;

    img#about_photo,
    img#work-photo,
    img#work-photo {
      height: 400px;
      top: 18%;
    }
  }
}
