nav{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    width: 100%;
    margin: 2% 0;
}

.logo{
    font-size: 30px;
    color: #000;
    margin-left: 3%;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 3%;
}

nav ul li{
    display: inline-block;
    margin-right: 30px;
}

nav ul li:last-child{
    margin-right: 0;
}

nav ul li a{
    font-size: 20px;
    text-decoration: none;  
    color: #000;
}