nav{
    display: flex;
    justify-content: space-between;
    background-color: #060606;
    /* background-color: #1d809f; */
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.logo{
    font-size: 30px;
    color: #fff;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 8px;
}

nav ul li a{
    text-decoration: none;  
    color: #fff;
}