nav{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2% 0;
}

.logo{
    font-size: 2rem;
    margin-left: 5%;
}

.logo a{
    text-decoration: none;
    color: #000;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 5%;
}

nav ul li{
    display: inline-block;
    margin-right: 45px;
}

nav ul li:last-child{
    margin-right: 0;
}

nav ul li a{
    font-size: 1.2rem;
    text-decoration: none;  
    color: #000;
}

nav ul li a:hover{
    opacity: 0.6;
}

@media screen and (max-width: 1179px) {

}

@media screen and (max-width:768px){
    .logo{
        font-size: 1.7rem;
        margin-left: 3%;
    }
}

@media screen and (max-width:375px){
    nav{
        margin: 6% 0;
    }
    
    .logo{
        font-size: 1.2rem;
    }

    nav ul li a{
        font-size: 0.8rem;
    }
 
}