.social{
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
    border-top: 1px solid grey;
    text-align: center;
}

.social >  .row{
    width: 15%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.social >  .row > a{
    text-decoration: none;
}

.social >  .row span{
    color: #000;
    font-size: 1.7rem;
    cursor: pointer;
}

@media screen and (max-width: 1179px) {

}

@media screen and (max-width:768px){
    .social >  .row{
        width: 30%;
    }

    .social >  .row span{
        font-size: 1.5rem;
    }

}

@media screen and (max-width:375px){
    .social >  .row span{
        font-size: 1.2rem;
    }
}