.work-template {
  margin-top: 450px;
  padding: 100px 0;
  margin: 0 3%;
  border-radius: 8px;
  background-color: var(--lightBlueColor);
}

.work-inner {
  width: 56%;
  margin-left: 24%;
}

h1.work_title {
  font-weight: 800;
  font-size: 48px;
  /* line-height: 1.14; */
  margin: 0;
  padding: 0;
}
p.work-subTitle {
  color: var(--subFontColor);
  font-weight: 400;
  font-size: 33px;
  line-height: 1.14;
  margin: 0 0 10px;
}

p.work-description {
  color: var(--subFontColor);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 30px;
}

.work_skills {
  .tags {
    margin: 0;
    padding: 0;

    li {
      font-size: 12px;
      color: var(--subAccentColor);
      list-style: none;
      display: inline-block;
      border: 2px solid var(--subAccentColor);
      /* background-color: var(--subAccentColor); */
      border-radius: 8px;
      margin: 0 10px 45px 0;
      padding: 0.5em 1em;
    }
  }
}

h2.headline {
  font-size: 33px;
  line-height: 1.1;
  color: var(--fontColor);
  padding: 0;
  margin: 0 0 10px;
}

p.headline-content {
  font-size: 20px;
  line-height: 1.27;
  color: var(--subFontColor);
  padding: 0;
  margin: 0 0 30px;
}

ul.work_links {
  padding: 0;
  li {
    list-style: none;
  }

  li a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: var(--accentColor);
    line-height: 1.14;
    margin-bottom: 5px;
  }

  li a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .work_title {
    font-size: 2rem;
  }

  .work_description {
    font-size: 0.9rem;
  }
}
