.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content{
    width: 46%;
    position: relative;
}

.content-title{
    opacity: 0;
    font-size: 40px;
    position: absolute;	
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 1s ease;
}

.content:hover .content-title{
    opacity: 1;
}

.content:nth-child(odd){
    margin: 2% 1% 2% 2%;
 }

 .content:nth-child(even){
    margin: 2% 2% 2% 1%;
 }

.container > .content > a > img.content-img{
   width: 100%;
}